.books{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.books-container{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 30px;
    flex: 0 0 27%;
    max-width: 27%;
    border: solid 1px black;
    margin-bottom: 7px;
    padding: 7px;
    border-radius: 3px;
}

.books-container img{
    width: 40%;
    border-radius: 3px;
    border: solid 1px black;
    text-align: center;;
}

.books-container h4, p{
    margin-top: -7px;
}
.books-container button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: red;
    border: solid 1px black;
    padding: 2px 5px;
    background-color: white;
}

.books-container button:hover{
    color: white;
    background-color: darkcyan;
}