

.likes-container{
    text-align: center;
    border: solid 1px black;
    padding-left:  7px;
    padding-top: 7px;
    padding-right: 7px;
    border-radius: 8px;
    background-color: lightgray;
    margin-bottom: 50px;
}

.likes-content{
    display: flex;
    
}

.likes-content .title{
    font-size: 16px;
    color: black;
    padding-left: 6px;
    position: absolute;
    text-decoration: none;
}

/* .likes-content .title:hover{
    background-color: white;
} */

.likes-content .likes-count{
    font-size: 16px;
    color: green;
    padding-left: 456px;
}

.highlight-books-list{
    font-size: 30px;
    background-color: lightgreen;
    font-weight: 700;
    cursor: pointer;
}