<header>
    <h1>Books Story</h1>
    <nav>
        <div>
            <a routerLink="/home">Home</a>
            <a routerLink="/books">Books</a>
            <div *ngIf="isLoggedIn">
                <a routerLink="/books/create">Add Book</a>
            <a routerLink="/myBooks">My publish</a>
            <a routerLink="/profile">{{username}}`s Profile</a>
            </div>
            <div *ngIf="isLoggedIn"  (click)="logout()">
            <a href="#">Logout</a>
            </div>
            <div *ngIf="!isLoggedIn">
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
            
            </div>
    </nav>
  </header>
