<div class="edit-title">
    <form [formGroup]="editForm" (ngSubmit)="editBook()" class='editForm' method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="" #inputTitle formControlName="title" minlength="3" maxlength="30" required>

        <div *ngIf="editForm.get('title')?.touched">
            <p *ngIf="editForm.get('title')?.errors?.['required']" class="error">Title is required!</p>
            <p *ngIf="editForm.get('title')?.errors?.['minlength']" class="error">Min length is 3!</p>
            <p *ngIf="editForm.get('title')?.errors?.['maxlength']" class="error">Max length is 30!</p>
          </div>


        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="" #inputAuthor formControlName="author" minlength="3" maxlength="15" required>
        <div *ngIf="editForm.get('author')?.touched">
            <p *ngIf="editForm.get('author')?.errors?.['required']" class="error">Author is required!</p>
            <p *ngIf="editForm.get('author')?.errors?.['minlength']" class="error">Min length is 3!</p>
            <p *ngIf="editForm.get('author')?.errors?.['maxlength']" class="error">Max length is 15!</p>
          </div>

        <label for="image">Image:</label>
        <input type="text" id="image" name="image" value="" #inputImage formControlName="image" minlength="3" maxlength="50" required>
        <div *ngIf="editForm.get('image')?.touched">
            <p *ngIf="editForm.get('image')?.errors?.['required']" class="error">Image is required!</p>
            <p *ngIf="editForm.get('image')?.errors?.['minlength']" class="error">Min length is 3!</p>
            <p *ngIf="editForm.get('image')?.errors?.['maxlength']" class="error">Max length is 50!</p>
          </div>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="" #inputDescription formControlName="description" minlength="3" maxlength="150" required>      
        <div *ngIf="editForm.get('description')?.touched">
            <p *ngIf="editForm.get('description')?.errors?.['required']" class="error">Description is required!</p>
            <p *ngIf="editForm.get('description')?.errors?.['minlength']" class="error">Min length is 3!</p>
            <p *ngIf="editForm.get('description')?.errors?.['maxlength']" class="error">Max length is 150!</p>
          </div> 
        
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="" #inputPrice formControlName="price" minlength="2" maxlength="10" required>
        <div *ngIf="editForm.get('price')?.touched">
            <p *ngIf="editForm.get('price')?.errors?.['required']" class="error">Price is required!</p>
            <p *ngIf="editForm.get('price')?.errors?.['minlength']" class="error">Min length is 2!</p>
            <p *ngIf="editForm.get('price')?.errors?.['maxlength']" class="error">Max length is 10!</p>
          </div>
        

        <button  [disabled]="editForm.invalid" [style]="{ backgroundColor: editForm.invalid ? 'grey' : 'blue'}">Edit</button>
    </form>
  </div>
