.login {
    text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 5%;
}


.form-group {
    padding-top: 1%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 4%;
    height: auto;
    width: 35%;
    border: 1px solid black;
    border-radius: 7px;
    background-color: lightgray;
  }
  
  
  .form-group label {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
  }
  
  .form-group input {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px;
  }

  .form-group button{
    font-size: 18px;
    padding: 5px 20px;
    background-color: darkcyan;
    color: white;
    margin-bottom: 10px;
}

  