<div>
    <app-shared />
    <div class="btn-container">
        <button (click)="isShownBuyBooks" [style]="{ backgroundColor: isShownLikesBooks ? 'grey' : 'blue'}" (click)="toggleLikeBooks()" class="btn">Load Likes Books</button>
        <button (click)="isShownBuyBooks" [style]="{ backgroundColor: isShownBuyBooks ? 'grey' : 'blue'}" (click)="toggleBuyBooks()" class="btn">Load Buying Books</button>
    </div>
    <div *ngIf="isShownLikesBooks">
        <app-books-list />
    </div>
    <div *ngIf="isShownBuyBooks">
        <app-books-list-buy />
    </div>
</div>