<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Story Books</title>
</head>
<body>

    
    <header>
        <h1>Books Story</h1>
        <nav>
            <div>
                <a href="#">Home</a>
                <a href="#">Books</a>
                <a href="#">Add Book</a>
                <a href="#">My publish</a>
                <a href="#">Profile</a>
                <a href="#">Logout</a>
                <a href="#">Login</a>
                <a href="#">Register</a>
                </div>
        </nav>
      </header>

      <div class="books">
        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>

        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>

        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>

        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>

        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>

        <div class="books-container">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque doloribus possimus repellendus beatae, debitis saepe, tenetur ratione, nihil officia suscipit laboriosam dicta maxime consequuntur aliquam! Illum, nulla! Enim, quidem voluptates.</p>
            <button>More Info</button>
        </div>
      </div>
      <footer>
        <p>This application is made for use only for the examination of Angular on SoftUni!.................................................@2024-Angular</p>
      </footer>
    
</body>
</html>