<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Books Story</title>
</head>
<body>

  <header>
    <h1>Books Story</h1>
    <nav>
        <div>
            <a href="#">Home</a>
            <a href="#">Books</a>
            <a href="#">Add Book</a>
            <a href="#">My publish</a>
            <a href="#">Profile</a>
            <a href="#">Logout</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
            </div>
    </nav>
  </header>
    
      <div class="details">

        <div class="container-img">
            <img src="https://www.book.store.bg/prdimg/116041/zovyt-na-kukuvicata.avif" alt="">
        </div>

        <div class="content-details">
            <h4>Lorem</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ullam voluptatibus nemo, vitae ipsam asperiores ratione cupiditate ipsa! Praesentium ipsa deleniti magnam distinctio incidunt mollitia tenetur eius corporis autem</p>
            <p>20$</p>
            <button type="submit">Edit</button>
            <button type="submit">Delete</button>
            <button type="submit">Buy</button>
            <button type="submit">Like</button>
            <p>Your order has been sent!</p>
        </div>
      </div>

      <footer>
        <p>This application is made for use only for the examination of Angular on SoftUni!.................................................@2024-Angular</p>
      </footer>

</body>
</html>