<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Books Story</title>
</head>
<body>

    <header>
        <h1>Books Story</h1>
        <nav>
            <div>
                <a href="#">Home</a>
                <a href="#">Books</a>
                <a href="#">Add Book</a>
                <a href="#">My publish</a>
                <a href="#">Profile</a>
                <a href="#">Logout</a>
                <a href="#">Login</a>
                <a href="#">Register</a>
                </div>
        </nav>
      </header>

      <div class="home">

        <div class="likes-container">
            <h6>Most liked books</h6>
            <div class="likes-content">
                <a href="#" class="title">Title books kn</a>
                <p class="likes-count">5 likes</p>
            </div>

            <div class="likes-content">
                <a href="#" class="title">Title books kn</a>
                <p class="likes-count">5 likes</p>
            </div>
            <div class="likes-content">
                <a href="#" class="title">Title books kn</a>
                <p class="likes-count">5 likes</p>
            </div>
            <div class="likes-content">
                <a href="#" class="title">Title books kn</a>
                <p class="likes-count">5 likes</p>
            </div>
            <div class="likes-content">
                <a href="#" class="title">Title books kn</a>
                <p class="likes-count">5 likes</p>
            </div>
        </div>

        <div class="buy-container">
            <h6>Best selling books</h6>
            <div class="buy-content">
                <a class="title" href="#">Buy book</a>
                <p class="count">6 count</p>
            </div>
            <div class="buy-content">
                <a class="title" href="#">Buy book</a>
                <p class="count">6 count</p>
            </div>
            <div class="buy-content">
                <a class="title" href="#">Buy book</a>
                <p class="count">6 count</p>
            </div>
            <div class="buy-content">
                <a class="title" href="#">Buy book</a>
                <p class="count">6 count</p>
            </div>
            <div class="buy-content">
                <a class="title" href="#">Buy book</a>
                <p class="count">6 count</p>
            </div>
        </div>

      </div>

      <footer>
        <p>This application is made for use only for the examination of Angular on SoftUni!.................................................@2024-Angular</p>
      </footer>
    
</body>
</html>