<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Books Story</title>
</head>
<body>

  <header>
    <h1>Books Story</h1>
    <nav>
        <div>
            <a href="#">Home</a>
            <a href="#">Books</a>
            <a href="#">Add Book</a>
            <a href="#">My publish</a>
            <a href="#">Profile</a>
            <a href="#">Logout</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
            </div>
    </nav>
  </header>

    <div class="register">
      <h2>Register</h2>
            <form class="register-form">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="">
                <p class="error">Email is required!</p>
                <p class="error">Min length is 3!</p>
                <p class="error">Max lenhth is 15!</p>
    
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="">
                <p class="error">Username is required!</p>
                <p class="error">Min length is 3!</p>
                <p class="error">Max lenhth is 15!</p>
    
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="">
                <p class="error">Password is required!</p>
                <p class="error">Min length is 3!</p>
                <p class="error">Max lenhth is 15!</p>
                <p class="error">Password miss match!</p>
    
                <label for="rePassword">Repeat Pass</label>
                <input type="password" id="rePassword" name="rePassword" value="">
                <p class="error">Repeat password is required!</p>
                <p class="error">Min length is 3!</p>
                <p class="error">Max lenhth is 15!</p>
                <p class="error">Password miss match!</p>
    
                <button type="submit">Register</button>
                <p class="message">Already registered? <a href="/login">Login</a></p>
            </form>
    </div>
    <footer>
      <p>This application is made for use only for the examination of Angular on SoftUni!.................................................@2024-Angular</p>
    </footer>
    
</body>
</html>