footer {
    background-color: #cccccc;
    color: black;
    font-weight: bolder;
    text-align: center;
    position: fixed;
    bottom: 0;
    align-items: center;
    height: 30px;  
  }
  footer p {
    margin-top:-1px;
  }

  .error{
    font-size: 10px;
    color: red;
  }